{% extends "website/base.html" %}
{% load static %}

{% block content %}
<main class="homepage container d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 80vh;">
    {% if user.is_authenticated %}
        <h1 class="display-4" style="color: #657BB5;">Добро пожаловать, {{ user.first_name }}!</h1>
        <p class="lead" style="color: #8E8FBF;">Вы можете использовать меню для навигации по сайту.</p>
    {% else %}
        <h1 class="display-4" style="color: #657BB5;">Добро пожаловать в систему управления клиентами студии красоты "Я&Ты"</h1>
        <p class="lead" style="color: #8E8FBF;">Пожалуйста авторизуйтесь для просмотра этой страницы</p>
        <a class="btn btn-primary mt-3" href="{% url 'login' %}" style="background-color: #657BB5; border-color: #657BB5;">Войти</a>
    {% endif %}
</main>
{% endblock content %}

