{% extends "website/base.html" %}
{% load static %}

    {% block content %}

    {% if user.is_authenticated %}

    <main class="homepage-not-logged">

        <h1>Домашняя</h1>

    </main>

    {% else %}

    <main class="homepage-not-logged">

        <h1 class="main-text">Добро пожаловать в систему управления клиентами студии красоты "Я&Ты"</h1>

        <p class="main-text">Пожалуйста авторизуйтесь для просмотра этой страницы</p>

    </main>

    {% endif %}

    {% endblock content %}

