{% extends "website/base.html" %}
{% load static %}

{% block content %}

<div class="container flex">

    <form action="{% url "login" %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
          <h1 class="AuthRegText-h1">Вход в систему</h1>
          <label class="label-main">Логин</label>
          <input type="text" class="inputs form-control" name="username" placeholder="Логин" required>
        </div>
        <div class="mb-3">
          <label class="label-main">Пароль</label>
          <input type="password" class="inputs form-control" name="password" placeholder="Пароль" required>
        </div>
        <button type="submit" class="button-login">Войти</button>
      </form>

</div>

{% endblock content %}