{% extends "website/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="profile-header text-center mb-5">
        <h1 class="mt-3">{{ user.first_name }} {{ user.last_name }}</h1>
        <p class="lead">{{ user.email }}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4" style="border-radius: 20px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Comfortaa', sans-serif; color: #657BB5;"><i class="fas fa-user"></i> Личная информация</h5>
                    <p class="card-text"><strong>Имя:</strong> {{ user.first_name }}</p>
                    <p class="card-text"><strong>Фамилия:</strong> {{ user.last_name }}</p>
                    <p class="card-text"><strong>Почта:</strong> {{ user.email }}</p>
                    <p class="card-text"><strong>Телефон:</strong> {{ user.PhoneNumber }}</p>
                    <p class="card-text"><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>
                </div>
            </div>

            <div class="card mb-4" style="border-radius: 20px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Comfortaa', sans-serif; color: #657BB5;"><i class="fas fa-percentage"></i> Скидки</h5>
                    <p class="card-text"><strong>Накопительная скидка:</strong> {{ user.discount }}%</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}