{% extends "website/base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <h1 class="display-4 text-center">Запись клиента</h1>

  <div class="card mx-auto my-4" style="max-width: 600px; border-radius: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <div class="card-header text-white" style="background-color: #657BB5; border-top-left-radius: 20px; border-top-right-radius: 20px; font-family: 'Comfortaa', sans-serif;">
          <h5 class="card-title mb-0">{{ user.first_name }} {{ user.last_name }}</h5>
      </div>
      <div class="card-body" style="font-family: 'Comfortaa', sans-serif;">
          <p class="card-text"><strong>Почта:</strong> {{ user.email }}</p>
          <p class="card-text"><strong>Телефон:</strong> {{ user.PhoneNumber }}</p>
          <p class="card-text"><strong>Накопительная скидка:</strong> {{ user.discount }}%</p>
          <p class="card-text"><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
      </div>
  </div>

  <div class="text-center">
      <a href="{% url 'clients' %}" class="btn btn-primary" style="background-color: #657BB5; border-color: #657BB5; font-family: 'Comfortaa', sans-serif; border-radius: 20px; padding: 0.75rem 1.5rem;">Назад к списку клиентов</a>
  </div>
</div>

{% endblock content %}
