@font-face {
    font-family: "Comfortaa-Light";
    src: url("../fonts/Comfortaa-Light.ttf");
}
@font-face {
    font-family: "Comfortaa-Regular";
    src: url("../fonts/Comfortaa-Regular.ttf");
}
@font-face {
    font-family: "MontserratAlternates-Regular.ttf";
    src: url("../fonts/MontserratAlternates-Regular.ttf");
}

.navigation_item{
    height: 40px;
    width: 100%;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: Comfortaa-Regular;
}