/* Шрифты */
@font-face {
    font-family: "Comfortaa-Light";
    src: url("../fonts/Comfortaa-Light.ttf");
}
@font-face {
    font-family: "Comfortaa-Regular";
    src: url("../fonts/Comfortaa-Regular.ttf");
}
@font-face {
    font-family: "MontserratAlternates-Regular.ttf";
    src: url("../fonts/MontserratAlternates-Regular.ttf");
}

/* Конец шрифтов */

body {
    background-image: url("../img/background2.svg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
}


/* Таблицы */

.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #8E8FBF;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.custom-table th,
.custom-table td {
    border: 1px solid #D8CFE2;
    padding: 8px;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.custom-thead th {
    background-color: #657BB5;
    color: #fff;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #D8CFE2;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #C7ADD0;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.custom-table tbody tr:hover {
    background-color: #CDCFE7;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.table-link {
    color: #657BB5;
    text-decoration: none;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.table-link:hover {
    color: #8E8FBF;
    text-decoration: underline;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.table-responsive {
    max-height: 600px;
    overflow: auto;
}

/* Адаптивность таблиц для мобильных устройств */
@media (max-width: 768px) {
    .custom-table, .custom-table thead, .custom-table tbody, .custom-table th, .custom-table td, .custom-table tr {
        display: block;
        width: 100%;
    }

    .custom-table tr {
        margin-bottom: 15px;
    }

    .custom-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .custom-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
    }

    .custom-table th {
        display: none;
    }

    .custom-table tbody tr {
        border-top: 1px solid #8E8FBF;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .custom-table tbody tr:first-child {
        border-top: none;
    }
}

/* Конец таблиц */

/* Навбар */

.custom-navbar,
.custom-navbar .navbar-nav .nav-link,
.custom-navbar .navbar-brand {
    font-family: 'Comfortaa-Regular', sans-serif;
}

.custom-navbar {
    background-color: #D8CFE2;
    border-bottom: 2px solid #8E8FBF;
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #657BB5;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #8E8FBF;
}

/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23657BB5' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */

.nav-item.active .nav-link {
    color: #C7ADD0 !important;
}

/* Конец навбара */

.card-title {
    color: #657BB5;
}

.card-text{
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Comfortaa-Regular', sans-serif;
}

.modal-body{
    font-family: 'Comfortaa-Regular', sans-serif;
}

/* Уведомления */

.alert-custom-success {
    background-color: #D8CFE2;
    color: #657BB5;
    border-color: #8E8FBF;
}
.alert-custom-error {
    background-color: #D8CFE2;
    color: #CDCFE7;
    border-color: #8E8FBF;
}
.alert-custom-info {
    background-color: #C7ADD0;
    color: #657BB5;
    border-color: #8E8FBF;
}

/* Конец уведомлений */

/* Карточка клиента */

.card {
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    font-family: 'Comfortaa-Regular', sans-serif;
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    background-color: #657BB5;
    border-color: #657BB5;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #8E8FBF;
    border-color: #8E8FBF;
}

/* Конец карточка клиента */

/* Профиль */

.profile-header img {
    border: 5px solid #8E8FBF;
}

.card-title i {
    margin-right: 10px;
}

/* Конец профиля */

.p-client-count{
    font-family: 'Comfortaa-Regular';
    font-size: 20px;
    color: #657BB5;
    margin-bottom: 20px;
}

.navigation_item{
    height: 20px;
    width: 100%;
    align-content: center;
    text-align: center;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: 'Comfortaa-Regular';
}

.navigation_item_login{
    height: 20px;
    width: 100%;
    align-content: end;
    text-align: end;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Comfortaa-Regular';
}

h1{
    font-family: 'Comfortaa-Regular', sans-serif;
    color: #657BB5;
}

h2{
    font-family: 'Comfortaa-Regular', sans-serif;
}

h5{
    font-family: 'Comfortaa-Regular', sans-serif;
}

p{
    font-family: 'Comfortaa-Regular', sans-serif;
}

/* .homepage{
    margin: 0;
    background-image: url("../img/background2.svg");
    background-size: auto;
    align-content: center;
} */

/* Начало логина */

.AuthRegText-h1 {
    color: #657BB5;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.label-main {
    font-family: 'Comfortaa-Regular', sans-serif;
    color: #8E8FBF;
}
.form-control {
    border-radius: 0.5rem;
}
.button-login {
    background-color: #F8E8EE;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Comfortaa-Regular', sans-serif;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 40px;
}
.button-login:hover {
    background-color: #E1D4DB;
}
.bg-white {
    border-radius: 15px;
}
.alert {
    font-family: 'Comfortaa-Regular', sans-serif;
}

/* Конец логина */

/* Начало домашней */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.homepage {
    background-color: #FFFFFF;
    padding: 2rem 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    animation: fadeIn 1s ease-in-out;
}


.btn-primary, .btn-secondary, .btn-danger, .btn-warning {
    font-family: 'Comfortaa-Regular', sans-serif;
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #8E8FBF;
    border-color: #8E8FBF;
}

.btn-secondary{
    background-color: #CDCFE7;
    border-color: #CDCFE7;
}

.btn-secondary:hover {
    background-color: #657BB5;
    border-color: #657BB5;
}

.btn-warning{
    background-color: #8E8FBF;
    border-color: #8E8FBF;
    color: white;
}

.btn-warning:hover{
    background-color: #CDCFE7;
    border-color: #D8CFE2;
}

.btn-danger{
    background-color: #C7ADD0;
    border-color: #C7ADD0;
}

.btn-danger:hover{
    background-color: #D8CFE2;
    border-color: #D8CFE2;
}

/* Flexbox для кнопок */
.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.btn-container .btn {
    flex: 1 1 auto;
    min-width: 150px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .btn-container {
        flex-direction: column;
    }

    .btn-container .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-container .btn:last-child {
        margin-bottom: 0;
    }
}

/* Конец домашней */

.btn-custom {
    background-color: #657BB5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Comfortaa-Regular', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-custom:hover {
    background-color: #8E8FBF;
    color: white;
}

.main-text{
    font-size: 50px;
    font-family: MontserratAlternates-Regular;
    line-height: 100px;
    color: white;
    align-items: center;
    text-align: center;
}

.btn-custom:hover {
    background-color: #8E8FBF;
    color: white;
}

.button-group .btn {
    margin-right: 10px;
}

.button-group .btn:last-child {
    margin-right: 0;
}
